body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color:   rgb(32, 58, 38);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;   /* ключевое */
  background-attachment :scroll ;

  color: rgb(32, 58, 38);
  overflow-x: hidden;
  min-height: 100vh; /* важно для растяжения */
}



.screen {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}



.general{
  background: url('photo.jpg') center/cover no-repeat;
  
}

.photoOne{
   background-image: url('assets/One.png');   
}

.photoGeneral{
   background: url('assets/GeneralTwo.png') center / cover no-repeat  ;    
    position: relative;
 
  height: 100vh;
  overflow: hidden;
}




.photoLiana {
  position: relative;
  top: -5vh;
  left: 28vh;

  width: 100%;
  height: 100vh;  /* ВАЖНО */

  background: url('assets/phonFore.png')repeat-x;
 background-size: 100px auto; /* или 100% auto — зависит от картинки */
  z-index: 2; /* поверх фона */
  pointer-events: none;
}
.photoTwo{
    background-image: url('assets/two.png');    
}

h1, p, button {
  opacity: 0;
  transform: translateY(30px); /* Смещение вниз для эффекта вылета */
  transition: all 1s ease-out; /* Плавное появление за 1 секунду */
}

/* Состояние, когда любая секция получила класс .active от скрипта */
.screen.active h1,
.screen.active p,
.screen.active button {
  opacity: 1;
  transform: translateY(0);
}
/* Кнопка */
button {
  padding: 15px 30px;
  font-size: 5vw;
  border: none;
  background: white;
  color: black;
  border-radius: 30px;
}



